.fb-connect-button-wrapper {
  margin-top: 5px;
}
.fb-connect-button {
  width: 100% !important;
  height: 40px !important;
  color: #fff;
  text-align: left;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
  background: #548bc6 !important;
  background: -webkit-linear-gradient(#77a9d7, #548bc6) !important;
  background: -o-linear-gradient(#77a9d7, #548bc6) !important;
  background: -ms-linear-gradient(#77a9d7, #548bc6) !important;
  background: linear-gradient(#77a9d7, #548bc6) !important;
  margin: 0 !important;
  padding: 0 !important;
  line-height: 38px;
  overflow: hidden;
  border: 1px solid #47637a !important;
  border-radius: 6px;
  text-shadow: 0 1px #333 !important;
  position: relative;
  box-shadow: 0 1px rgba(255, 255, 255, 0.3) inset, 1px 0 0 #89b4dc, 0 1px 3px #cccccc;
  font-size: 17px !important;
  display: block;
  border: 1px solid #47637A;
  width: 100%;
  border-radius: 4px;
  font-weight: bold;
}
.fb-connect-button:before {
  content: '';
  background: #698da9 url("../images/sprites.png?v=13") ;
  background: url("../images/sprites.png?v=13"), -webkit-linear-gradient(#698da9, #466b8b) ;
  background: url("../images/sprites.png?v=13"), -o-linear-gradient(#698da9, #466b8b) ;
  background: url("../images/sprites.png?v=13"), -ms-linear-gradient(#698da9, #466b8b) ;
  background: url("../images/sprites.png?v=13"), linear-gradient(#698da9, #466b8b) ;
  width: 45px;
  height: 38px;
  margin-right: 10px;
  float: left;
  border-right: 1px solid #456178;
  box-shadow: 0px 1px rgba(255, 255, 255, 0.3) inset, 1px 0 0 #89b4dc;
  border-radius: 3px 0 0 3px;
}
.fb-connect-button:active,
.fb-connect-button:focus {
  top: 1px;
  color: #fff;
}
.fb-connect-button:hover {
  color: #fff;
}
.fb-connect-button:after {
  content: '';
  width: 100%;
  height: 100%;
  background: url("../images/noise.png");
  position: absolute;
  left: 0;
  top: 0;
}